@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.StatCard {
  display: flex;
  flex-direction: column;
  .Header {
    @include element-card;
    gap: 20px;
    background-color: transparent;
    text-align: left;
    cursor: pointer;

    span {
      padding: 0.5em;
    }

    .Title {
      flex-grow: 1;
    }

    .Icon {
      display: inline-block;
      margin-right: 0.5em;
      width: 1em;
      height: 1em;
    }
  }

  .Details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 1em;
    border-right: 1px solid $color-background-2;
    border-left: 1px solid $color-background-2;

    .Summary {
      flex: 1;
      h3 {
        margin-top: 0;
      }
      p {
        margin: 0.2em 0;
      }
    }
  }
}
