@use "@styles/variables" as *;

$element-size: 36px;

.SidebarElement {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 100%;
  background-color: $color-background-2;
  transition: background-color 0.2s, color 0.2s;

  .Label {
    display: none;
    position: absolute;
    left: 95%;
    white-space: nowrap;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: $font-sm;
    opacity: 0;
    transition: opacity 0.2s;
  }

  .Icon {
    width: $element-size;
    height: $element-size;
  }

  &:hover {
    // display: inline-block;
    background-color: $color-background-3;
    color: #000;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;

    .Label {
      display: block;
      opacity: 1;
    }
  }
}
