@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.EventCard {
  @include element-card;
  gap: 20px;

  a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: inherit;
    // padding: 0.5em;
  }
  .Title {
    font-size: $font-sm;
    font-weight: bold;
    flex-grow: 1;
  }

  span {
    font-size: $font-sm;
  }

  .ViewButton {
    padding: 0.5em;
  }
}
