@use "@styles/variables" as *;

.Sidebar {
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 85px;
  padding: 20px 0;
  background-color: $color-background-1;
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.1);
}
